h1{
   display: flex;
   justify-content: center;

   margin-top: 50px;
}

.form-container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    margin-bottom: 8px;
}

input{
    width: 250px;
    height: 25px;

    border: 1px solid #9A9D28;
    border-radius: 25px;

    padding: 5px 18px;
    margin-bottom: 15px;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: white;
    background-color: #9A9D28;

    width: 60%;

    border: none;
    border-radius: 3px;

    padding-top: 12px;
    padding-bottom: 12px;

    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover{
    background-color: #C7C789;
}

a{
    color: #9A9D28;
}

a:hover{
    color: #C7C789;
}

@media screen and (max-width: 1199px) {
    .hero-title-two{
        font-weight: 400;
        font-size: 70px;
        line-height: 79%;
    }
}